#contratacao {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding-top: 91px;
}

#contratacao-img {
    width: 500px;
    height: auto;
}

#contratacao .section-subtitle {
    font-size: 3rem;
}

#contratacao_content {
    width: 50%;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-neutral-0);
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    margin-block: 30px;

    .divInputs {
        width: 100%;
        display: flex;
        gap: 20px;
        
        .input-section {
            width: 48%;
        }
    }
}

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    width: 48%;
    position: relative;
}

.inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
}

.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    margin-left: 15px;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
    white-space: nowrap;
    line-height: 55px;
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0;
    padding-inline: 4px;
    background-color: var(--color-neutral-0);
    line-height: unset;
}

.inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}

/* Inicio checkbox */
.checkbox-wrapper input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper *,
.checkbox-wrapper ::after,
.checkbox-wrapper ::before {
    box-sizing: border-box;
    user-select: none;
}

.checkbox-wrapper {
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    font-size: 12px;
}

.checkbox-wrapper .label {
    cursor: pointer;
}

.checkbox-wrapper .check {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
}

.checkbox-wrapper .label svg {
    vertical-align: middle;
}

.checkbox-wrapper .path1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: .5s stroke-dashoffset;
    opacity: 0;
}

.checkbox-wrapper .check:checked+label svg g path {
    stroke-dashoffset: 0;
    opacity: 1;
}

#input_nome {
    text-transform: capitalize;
}

.btn-documentos {
    cursor: pointer;
    color: #2941ef;
    border-bottom: 2px solid #2941ef;
}

#calendario {
    width: clamp(492px, 85vw, 760px);
    /* height: 380px; */
    margin-top: 40px;
    position: relative;
    overflow-X: auto;
    overflow-y: hidden;
    margin-inline: auto;

    img {
        width: 100%;
        height: auto;
    }
}

#contratacao-continuacao {
    text-align: center;
}
/* Fim checkbox */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}


@media screen and (max-width: 1170px) {
    #contratacao {
        flex-direction: column;
    }

    #contratacao .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    #contratacao-img {
        display: none;
    }

    #contratacao_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #contratacao {
        padding-top: 46px;
    }

    #contratacao .section-subtitle {
        font-size: 2rem;
    }

    #contratacao_content {
        width: 100%;
    }

    .divInputs {
        flex-direction: column;

        .input-section {
            width: 98%;
        }
    }
    .inputGroup {
        width: 98%;
    }
    #calendario {
        width: calc(100% + 50px);
        margin-inline: -25px;
    }
} 