@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('header.css');
@import url('home.css');
@import url('sobre.css');
@import url('requisitos.css');
@import url('contratacao.css');
@import url('contato.css');
@import url('footer.css');

:root {
    --color-primary-1: #fff9ea;
    --color-primary-2: #D9B97E;
    --color-primary-3: #F26D3D;
    --color-primary-4: #486CD9;
    --color-primary-5: #4A6D8C;
    --color-primary-6: #043259;
    --color-primary-6_25: #04325940;
    --color-primary-7: #e82927;
    --color-primary-7_25: #e8292740;
    --color-primary-8: #34af4c;

    --color-neutral-0: #fff;
    --color-neutral-1: #1d1d1d;
    --color-neutral-1_25: #1d1d1d40;

    --topbar-height: 76px;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
scrollbar-width: auto;
scrollbar-color: var(--color-primary-6);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 16px;
}

*::-webkit-scrollbar-thumb {
background-color: var(--color-primary-6);
border-radius: 10px;
border: 3px solid #ffffff;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--color-primary-1);
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-6);
    color: var(--color-neutral-0);
    width: fit-content;
    width: -moz-fit-content;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color: var(--color-primary-3);
}

.section-title {
    color: var(--color-primary-6);
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
}

.td-none {
    text-decoration: none;
}

.mt-20 {
    margin-top: 20px;
}

.color-p5 {
    color: var(--color-primary-5) !important;
}